/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.centre-nav-foot {

  width: 100%;
}

/* regole di debug */
[class*="col-"] {
  min-height: 50px;
  vertical-align: center;
  /* debug */

  /* fine debug */
  padding: 2px;
}

/* Regole Header  */
#nav-fixed {
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
  background-color: white;
}

header {
  padding-top: 50px;
}

#head-menu span {
  font-family: 'Oswald', sans-serif;
}

.logo-text {
  font-size: 25px;
  line-height: 50px;
}

.menu-text a{
  font-size: 12px;
  text-decoration: none;
  color:black;
  margin-left: 8px;
  line-height: 50px;
}

.menu-text span {
  margin-left: 8px;
}



#jumbo {
 min-height: 300px;
 /* debug */
 background: red;
 opacity: 0.6;
 padding-top:100px;
 text-align:center;
 /* fine debug */
}

#head-menu {
  margin:0 10%;
}

/* ///// REGOLE MAIN ///// */

/* Regole sezione prodotti  */

.product {
  margin:0 5%;
  /* debug */
  min-height: 200px;
  background: blue;
  opacity: 0.5;
  /* fine debug */
}

/* Sezione How Helbiz works */

/* TEST ID  */
#test > [class*="col-"] {
  /* debug */
  min-height: 500px;
  /* fine debug */
}
